.data-temple{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.data-temple p{
    margin: 0;
    padding: 3px;
}
.data-temple span{
    color: rgb(78, 3, 121)
}

@media screen and (min-width: 701px) {

    #menu {
        display: none;
    }

    main {
        max-width: 1400px;
        margin: 0 auto;
    }

    .temple-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 5px;
        width: 60%;
    }
    footer p {
        margin: 5px;
        font-size: 18px;
    }
}
